.daftar-ujian-left-card {
  background-color: white;
  padding: 1.25rem;
  border-radius: 5px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border: 1px solid whitesmoke;
  margin-top: 1.25rem;
}

.daftar-ujian-left-title {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 1.25rem;
}

.daftar-ujian-right-card {
  background-color: #edd942;
  padding: 1.25rem;
  border-radius: 5px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  margin-top: 1.25rem;
}

.daftar-ujian-left-sub-title {
  font-weight: bolder;
  font-size: 1.2rem;
}
