.pilihan-ganda-bullet {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  border: solid black;
  display: inline-block;
  position: relative;
  margin-top: 1.25rem;
  padding-top: 0.3rem;
  font-size: 1rem !important;
}

.pilihan-ganda-bullet:hover {
  cursor: pointer;
}

.pilihan-ganda-text {
  margin-top: 1.4rem;
}

.pilihan-ganda-card {
  margin-top: 1rem;
  padding: 1.25rem !important;
  border: #cacaca solid;
}

.pilihan-ganda-custom-font-kecil {
  font-size: 1rem;
}

.pilihan-ganda-custom-font-sedang {
  font-size: 1.2rem;
}

.pilihan-ganda-custom-font-besar {
  font-size: 1.4rem;
}
